@import "variables.styl"
@import "mixins.styl"
@import "animation.styl"

body 
    background color-background
    position-center()
    nnn(2)
    .container
         font-size font-size-text
         color color-text //  border border-size  //  padding text-padding
        :hover div 
            transform rotateY(360deg)
        div 
            font-family font-style
            transition .9s
        .hidden
            visibility hidden
        animation(14)

