@import './variables.styl'
    
color-start()
    color color-start-animation

color-end()
    color color-end-animation

transform-start()
    transform translateY(transform-start)

transform-end-up()
    transform translateY(-15px)


