colorCycleOne = rgba(255, 255, 128,.1)
colorCycleFhree = rgba(255, 255, 128,.7)
colorCycleTwo = rgb(255, 255, 128)
textShadow = 0 3rem 1rem rgba(0,0,0,1)

animationMainInterval = 2s
animationLetterInterval = 0.1
transformEnd-up = -3rem
marginLeftFinish = 1rem


.color1 {color: #578fff;}
.color2 {color: #00d1ff;}
.color3 {color: #00ffc3;}
.color4 {color: #ffff7e;}
.color5 {color: #fff8b5;}
           


