@import "variables.styl"
@import "mixins.styl"
@import "animation.styl"

body 
    // background color-background
    // position-center()
    position-center-children()
    background: blue
    nnn(3)
    .container
         font-size font-size-text
         color color-text 
         background: red
        :hover div 
            transform rotateY(360deg)
        div 
            font-family font-style
            transition .9s
        .hidden
            visibility hidden
        animation(14)

